.App {
	font-family: sans-serif;
	text-align: center;
}

.leaflet-container {
	height: 500px;
	width: 100%;
	margin-right: 3%;
}

.leaflet-div-icon {
	background: transparent;
	border: black;
}

@media only screen and (max-width: 1024px) {
	.leaflet-container {
		height: 500px;
		width: 100%;
		margin-right: 3%;
	}
}
