.App {
	font-family: sans-serif;
	text-align: center;
}

.leaflet-container {
	margin-top: 80px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.leaflet-div-icon {
	background: transparent;
	border: black;
}
